* {
    font-family: sans-serif;
}

.navbar {
    margin-bottom: 0;
    border: none;
}

.navbar-default {
    background-color: white;
}

.navbar a {
    color: white;
}

a:hover,
a:visited {
    text-decoration: none;
}

.navbar {
    border-radius: 0;
    background-color: #010101;
}

.userIcon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
}

.UserSettings {
    display: inline-flex;
}

.settingsIcon {
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.userIcon {
    margin-top: 10px;
    margin-right: 150px;
}

.userName {
    padding-top: 5px;
    margin-left: 40px;
    margin-right: 5pxx;
    font-weight: 500;
    font-size: 24px;
    margin-top: 10px;
}


/*Navbar*/

.navbar-default ul li a {
    font-size: 16px;
    font-weight: 300;
    color: purple !important;
}

.navUnderline:hover,
.navUnderline:active {
    text-decoration-line: underline !important;
}

.navbar-form {
    margin-left: 30px !important;
}

.navList {
    margin-right: 20px;
}


/* Carousel*/

#my-pics {
    border-top: 5px solid #5D2684 !important;
    border-bottom: 5px solid #5D2684 !important;
    background-color: #5D2684 !important;
}

#my-pics ol li {
    border: none;
    background-color: #5D2684;
}

.successStoryDiv {
    background-color: #6B49A0;
    color: white;
    font-size: 16px;
    height: 50px;
    text-align: center;
    text-justify: center;
}

.carouselBtmDiv {
    background-color: #6B49A0;
    height: 50px;
}


/*SECTION*/

.date {
    font-size: 20px;
    margin: 16px;
    color: purple;
    text-align: right;
}

.sectionTemplate {
    border: 1px solid black;
    padding: 5px;
    height: 450px;
    margin: 5px;
    width: 350px;
}

.sectionTemplateHeader {
    height: 20%;
    width: 100%;
}

.sectionTemplateHeader h4 {
    color: aqua;
    text-align: center;
    font-size: 18px;
}

.sectionTemplateBody {
    width: 100%;
    background-color: aqua;
}


/*Footer*/

footer {
    background-color: #6C4188;
    line-height: 22px;
    padding-right: 150px !iomportant;
    padding-left: 150px !iomportant;
}

footer h3 {
    color: white;
    font-size: 23px;
}

footer ul {
    list-style-type: none;
}

footer a {
    color: white;
    font-size: 12px;
}

footer a:hover,
footer a:active {
    color: white;
    text-decoration-line: underline;
}

.footerBtm {
    border-top: 0.1px solid white;
    padding: 16px;
    justify-content: center;
    color: white;
    font-size: 12px;
    margin-top: 20px;
}

.logo {
    display: inline-block;
    color: white;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
}

.logoFacebook {
    background: url(facebook.svg);
}

.logoLinkedin {
    background: url(linkedin.svg);
}

.logoTwitter {
    background: url(twitter.svg);
}

.logoInstagram {
    background: url(instagram.svg);
}

.footerbotton {
    border: 2px solid white !important;
    background-color: #6C4188 !important;
    font-size: 12px;
    width: 120px;
}

.footerBtm span {
    margin: 0 10px
}

.footerBtm pull-right {
    display: flex;
    margin: 0 auto;
}